.glasses__card {
    position: relative;
    overflow: hidden;
    background-color: gold;
}
.glasses__left {
    background-color: green;
    padding: 20px 40px;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}
.glasses__right {
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}
button {
    border: transparent;
}
.d-flex img {
    max-width: 150px;
    /* padding-top: 30px; */
}
.glasses__model {
    background-position: center top;
    background-size: cover;
    height: 600px;
}
.glasses__model img {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 238px;
    height: 85px;
    opacity: 0.9;
}
.glasses__info {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: lightgreen;
    width: 100%;
    color: white;
    padding: 20px;
    /* display: none; */
}